
venv/
venv
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.env
*.DS_Store
*.egg-info/
*.egg
*.coverage
*.dist-info/
*.whl
*.zip
*.tar.gz
*.rar
*.7z
*.bak
*.tmp
*.swp
*.swo
*.pid
*.orig
.env

